@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'RobotoCondensed';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'EconomicaBold', sans-serif;
}

.profile {
  width: 200px;
  border-radius: 50%;
  margin: 20px;
}

.project {
  display: inline-block;
  width: 300px;
  margin: 15px 10px;
  background-color: #e3eaf2;
  padding: 1.5%;
  border-radius: 3%;
}

.project__img {
  width: 200px;
  height: 120px;
}

.socials-box {
  margin: 60px auto 30px auto;
}

.socialIcon {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.investButton {
  margin: 5px 10px;
}

.toggleSkillButton {
  margin: 30px 10px;
}

.showProjectButton {
  margin: 30px 10px;
}

.gitButton {
  color: #16826c;
  font-size: 110%;
  border: #16826c solid 1px;
  border-radius: 2px;
  padding: 2px 6px;

  &:hover {
    transition: 0.3s;
    text-decoration: none;
    color: white;
    background-color: #16826c;
  }
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 1.5s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 1.5s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.highlight {
  text-decoration: underline;
  font-weight: 900;
  color: #1c85cc;
}

.resume {
  .section {
    margin-top: 60px;

    &__title {
      color: #16826c;
      border-bottom: #16826c solid 3px;
    }

    &__summary {
      text-align: start;
    }

    &__skill {
      text-align: start;
    }

    &__edu_exp_act {
      text-align: start;
      h3 {
        display: flex;
        justify-content: space-between;

        .duration {
          color: #1c85cc;
          font-size: 70%;
        }
      }
    }
  }
}
